.wrapper {
	width: 100%;
	height: 100%;
}

.page {
	padding: 88px 0px 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-shadow: 0px 0px 10px #111;

  color: #EEE;
  background-color: #444;
}

.section {
	padding: 52px 40px 8px;
	position: relative;
}
.section_no_header {
	padding-top: 32px;
}
.section_header {
	width: auto;
	position: absolute;
	top: 0px;
	left: -20px;
	box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
	display: flex;
	justify-content: flex-start;
	padding: 8px 32px;
	font-size: 20px;
	font-weight: bold;
	background-color: #111;
	color: #DDD;
	text-shadow: 0px 0px 2px rgba(180, 180, 180, 0.6);
}

.material_query_input {
	width: 95%;
	height: 80px;
	background: rgba(238, 238, 238, 0.13);
	border: none;
}

.material_query_input input {
	color: #EEE;
	text-align: left;
	padding: 0 24px;
	width: 100%;
	height: 100%;
	font-family: 'Microsoft YaHei', 'Helvetica Neue', arial, sans-serif;
	font-size: 48px;
	font-weight: bold;
	background: linear-gradient(to right, #EEEEEE11 80%, #444 100%);
	border: none;
	text-shadow:
		0px 0px 6px rgba(24, 24, 24, 0.8),
		0px 0px 2px rgba(180, 180, 180, 0.8),
		-2px -1px 0px rgba(170, 34, 34, 0.4),
    2px -1px 0px rgba(34, 34, 170, 0.4),
    -2px 1px 0px rgba(170, 34, 34, 0.4),
    2px 1px 0px rgba(34, 34, 170, 0.4);
}

.actions {
	padding: 20px 0 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.actions:first-of-type {
	padding-top: 0;
}
.actions span {
	width: 100px;
	text-align: center;
}
.actions .filter_toggle, .compound_button {
  background-color: #333;
	margin-right: 20px;
  padding: 8px 32px;
  text-align: center;
  user-select: none;
	box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
	font-size: 16px;
	font-weight: 400;
	transition: background-color 0.3s ease;
	border-radius: 1px;
}
.actions .max_attribute:active {
  background-color: #111;
}

.drops {
	position: relative;
}
.penguin_link {
	position: absolute;
	top: -48px;
	right: 16px;
	height: 36px;
	padding: 8px 16px 8px 12px;
	font-size: 16px;
	background-color: #222;
	margin-bottom: 12px;
}

.query, .formula, .compound_area,
.compound_side_products,
.drops, .filters, .table, .upgrades,
.summary, .requirements_summary {
	width: 860px;
	min-width: 860px;
	background: linear-gradient(to right, #EEEEEE11 80%, #444 100%);
	padding: 20px 24px;
}
.filters {
	margin-bottom: 20px;
}
.filter_title {
	min-width: 100px;
}
.filter_toggle {
	color: #AAA;
	min-width: 144px;
}
.filter_toggle.filter_toggle_active, .compound_button {
	color: #EEE;
	background-color: #111;
}
.compound_button {
	margin: 12px;
}

.filter_toggles {
	display: flex;
	justify-content: flex-start;
}
.filter_profession {
	margin-bottom: 8px;
}
.filter_rarity {
	display: flex;
	justify-content: center;
}
.filter_rarity_star {
	max-width: 12px;
	display: inline-block;
	transform: rotate(12deg);
}
.filter_multi_lines {
	flex-wrap: wrap;
}
.compound_side_products {
	padding-top: 0;
}
.compound_side_product_items {
	padding: 18px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	padding-bottom: 0;
}

.formula {
	display: flex;
	flex-flow: row;
	justify-content: center;
}
.upgrades {
	width: auto;
	padding-right: 100px;
}
.summary_cell {
	min-width: 180px;
	height: 56px;
	padding: 18px 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.summary_cell span,
.summary_cell .summary_quantity {
	font-size: 32px;
	align-self: center;
}
.summary_cell > div {
	min-width: 108px;
}
.requirement_cell, .compound_cell, .compound_ingredient_cell, .formula_cell {
	min-width: 80px;
	height: 56px;
	padding: 18px 0;
	display: flex;
	flex-flow: row;
}
.requirement_cell span,
.requirement_cell .requirement_quantity {
	align-self: flex-end;
}
.compound_cell {
	justify-content: center;
}
.compound_ingredient_cell {
	justify-content: space-around;
	min-width: 110px;
}
.side_product_item {
	min-width: 80px;
	height: 90px;
	padding: 18px 0 0;
	justify-content: center;
}

.summary {
	display: flex;
	justify-content: center;
}

.requirements_summary {
	display: flex;
	flex-wrap: wrap;
}

.save {
  background-color: #111;
  padding: 8px;
  margin: 12px 0 24px;
  text-align: center;
  user-select: none;
	box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.page {
		max-width: unset;
	}

	.section {
		padding: 12px 0px 8px;
		font-size: 12px;
	}

	.section_header {
		padding: 8px 20px;
		position: relative;
		left: 0;
		width: 100%;
		font-size: 16px;
	}

	.penguin_link {
		top: -37px;
		right: 0;
		background: none;
		margin: 0;
	}

	.query, .formula, .compound_area,
	.compound_side_products,
	.drops, .filters, .table,
	.upgrades, .summary, .requirements_summary {
		padding: 8px;
		width: 100%;
		min-width: unset;
		background: rgba(238, 238, 238, 0.07);
	}

	.filter_profession, .filter_rarity, .filter_attribute {
		margin-bottom: 8px;
	}

	.actions .filter_toggle {
		font-size: 12px;
		padding: 8px;
	}
	.filter_toggle {
		color: #AAA;
		min-width: 88px;
	}

	.compound_area {
		padding-right: unset;
		flex-wrap: wrap;
		overflow-x: scroll;
		overflow-y: auto;
	}

	.upgrades {
		padding-right: unset;
		flex-wrap: wrap;
		overflow-x: scroll;
		overflow-y: auto;
	}

	.material_query_input {
		width: 100%;
	}
	.material_query_input input {
		font-size: 36px;
		width: 100%;
		background: rgba(238, 238, 238, 0.07);
	}

	.summary_cell span,
	.summary_cell .summary_quantity {
		font-size: 24px;
	}

	.compound_cell {
		min-width: unset;
	}

	.summary_cell {
		min-width: 88px;
	}
	.summary_cell > div {
		transform: scale(0.6);
		min-width: 88px;
	}
}
