.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 32px;
	min-width: 100px;
	width: 100px;
	border-right: 0.5px #666 solid;
	border-bottom: 0.5px #666 solid;
	color: #EEE;
	transition: background-color 0.1s ease;
}
.cell.header {
	height: 40px;
	font-weight: bold;
	background: #888;
	text-shadow: 0px 1px 5px rgba(48, 48, 48, 0.8);
	border-color: transparent;
}
.cell.header:not(.icons_header).T0 {
	background-color: transparent;
}
.cell.header:not(.icons_header).T1 {
	background-color: #9F9FA2;
}
.cell.header:not(.icons_header).T2 {
	background-color: #DADC39;
}
.cell.header:not(.icons_header).T3 {
	background-color: #16AFF0;
}
.cell.header:not(.icons_header).T4 {
	background-color: #D3C3D4;
}
.cell.header:not(.icons_header).T5 {
	background-color: #FCC90E;
}
.cell.header:not(.icons_header).T6 {
	background-color: #FFF2BE;
}
.cell.fullheight {
	height: 100%;
}
.cell.stretch {
	align-self: stretch;
	height: auto;
}
.cell.fullwidth {
	width: 100%;
	min-width: inherit;
	border-right: none;
}
.cell.halfwidth {
	width: 48px;
	min-width: 48px;
}
.cell.dim {
	color: #666;
}
.cell.long_text {
  font-size: 13px;
	white-space: normal;
}
.cell.icons_header {
	height: 76px;
	flex-flow: column;
	justify-content: center;
	border: none;
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 93%, #FEFEFE 100%);
	position: relative;
}
.cell.icons_header.T1 {
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 93%, #9F9FA2 98%, #9F9FA2 100%);
}
.cell.icons_header.T2 {
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 93%, #DADC39 98%, #DADC39 100%);
}
.cell.icons_header.T3 {
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 93%, #16AFF0 98%, #16AFF0 100%);
}
.cell.icons_header.T4 {
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 92%, #D3C3D4 98%, #D3C3D4 100%);
}
.cell.icons_header.T5 {
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 91%, #FCC90E 98%, #FCC90E 100%);
}
.cell.icons_header.T6 {
	background: linear-gradient(180deg, #DDD 0%, #FEFEFE 88%, #FFF2BE 98%, #FFF2BE 100%);
}
.cell.icons_header > p {
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(24, 24, 24, 0.2);
	color: black;
}
.cell.icons_header span {
	font-size: 12px;
	text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.2);
	color: #EEEEEE;
	background-color: #111;
	padding: 2px 5px;
	border-radius: 1px;
	z-index: 20;
}
.cell.is_focus_material:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -28;
	background: linear-gradient(180deg, #CCC 0%, rgba(170, 170, 170, 0.2) 93%);
}
.cell span {
	text-align: center
}

:global(.row:not(.disable_hover):hover) .cell {
	background-color: #4C4C4C;
}

@media screen and (max-width: 600px) {
	.cell.icons_header {
		height: 56px;
	}

	.cell.icons_header > p {
		font-size: 14px;
	}

	.cell.icons_header span {
		font-size: 8px;
		margin-top: -12px;
	}

	.cell:not(.force_no_shrink):not(.fullwidth) {
		width: 60px;
		min-width: 60px;
	}

	.cell.long_text {
		font-size: 10px;
		white-space: normal;
	}

	.cell.mobile_long_text {
	  font-size: 13px;
		white-space: normal;
	}
}
