.wrapper {
  width: 100%;

  background: #333;
}

.info {
  padding: 40px 20px;
  margin: 56px auto 0;
  width: 100%;
  max-width: 1000px;
  height: auto;

  text-shadow: 0px 0px 10px #111;

  color: #EEE;
  background-color: #666;
}

.version {
	margin-left: 8px;
	font-size: 12px;
	vertical-align: baseline;
}

.info a {
  color: #EEE;
}
.info code {
  display: inline-block;
  border: 1px #888 solid;
  border-radius: 3px;
  color: #EEE;
  background-color: #222;
  padding: 1px 5px;
  margin: 0 3px;
}
.info ul {
  list-style-type: none;
  padding: 0 20px;
}
.info li:before {
  content: '-  '
}
.info blockquote {
  margin: 8px 20px 0;
  padding: 10px;
  border-radius: 4px;
  height: auto;
  background: #FFFFFF11;
}
.info blockquote p {
  margin: 0
}

.tips {
  margin: 16px auto;
  display: flex;
  justify-content: center;
}
.tip {
  margin: 0 10px;
  width: 160px;
  height: 200px;
}
.tip_donate, .tip_donate_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tip_donate_button {
  padding: 12px;
  border-radius: 3px;
  background: #036ab7;
  box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.3);
}
.tip_donate_button a {
  text-decoration: none;
}
.tip_donate_button .donate_icon {
  height: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 601px) {
  h1, h3 {
    margin: 0;
  }
}
@media screen and (min-width: 601px) {
  .mobile_title {
    display: none;
  }
}
