.wrapper {
  height: 100%;
  width: 100%;

  background: linear-gradient(to right, #333 90%, #666 100%);
}

.info {
  padding: 40px 20px;
  margin: 56px auto 0;
  width: 100%;
  max-width: 1000px;

  text-shadow: 0px 0px 10px #111;

  color: #EEE;
  background-color: #666;
}

.version {
	margin-left: 8px;
	font-size: 12px;
	vertical-align: baseline;
}


.info a {
  color: #EEE;
}
.info code {
  display: inline-block;
  border: 1px #888 solid;
  border-radius: 3px;
  color: #EEE;
  background-color: #222;
  padding: 1px 5px;
  margin: 0 3px;
}
.info ul {
  list-style-type: none;
  padding: 0 20px;
}
.info li:before {
  content: '-  '
}
.info blockquote {
  margin: 0 20px;
  padding: 10px;
  border-radius: 4px;
  height: auto;
  background: #FFFFFF11;
}
.info blockquote p {
  margin: 0
}
