.wrapper {
	width: 100%;
	height: 100%;
}

.page {
	padding: 88px 0px 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-shadow: 0px 0px 10px #111;

  color: #EEE;
  background-color: #444;
}

.section {
	padding: 52px 40px 8px;
	position: relative;
}
.section_no_header {
	padding-top: 32px;
}
.section_header {
	width: auto;
	position: absolute;
	top: 0px;
	left: -20px;
	box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
	display: flex;
	justify-content: flex-start;
	padding: 8px 32px;
	font-size: 20px;
	font-weight: bold;
	background-color: #111;
	color: #DDD;
	text-shadow: 0px 0px 2px rgba(180, 180, 180, 0.6);
}

.operator_input {
	width: 480px;
}

.operator_input .operator_input_cell {
	width: 100%;
	height: 80px;
	background: rgba(238, 238, 238, 0.13);
	border: none;
}

.operator_input .operator_input_cell input {
	text-align: left;
	padding: 0 24px;
	width: 100%;
	height: 100%;
	font-size: 48px;
	font-weight: bold;
	background: linear-gradient(to right, #EEEEEE11 80%, #444 100%);
	border: none;
	text-shadow:
		0px 0px 6px rgba(24, 24, 24, 0.8),
		0px 0px 2px rgba(180, 180, 180, 0.8),
		-2px -1px 0px rgba(170, 34, 34, 0.4),
    2px -1px 0px rgba(34, 34, 170, 0.4),
    -2px 1px 0px rgba(170, 34, 34, 0.4),
    2px 1px 0px rgba(34, 34, 170, 0.4);
}

.search_alternative {
	margin: 8px 8px 0;
	padding: 4px;
	display: inline-block;
	text-decoration: underline;
}
.promoted_amiya {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.96912 42.06488"><path d="M57.01672,0,35.98425,21.03247,57.01672,42.06488,78.04913,21.03247ZM43.76282,21.03265,57.01672,7.77826,70.27063,21.03265,57.01672,34.28656Zm19.43652,0-6.18262,6.18262-6.1831-6.18262,6.1831-6.1831Zm50.76978-.00018L92.93665,42.06488l-1.99128-1.99127V32.29529l1.99128,1.99127,13.2539-13.25391L92.93665,7.77826,90.94537,9.76959V1.99127L92.93665,0ZM23.35553,39.74176l-2.32312,2.32312L0,21.03247,21.03241,0l2.32312,2.32312v7.77832L21.03235,7.77826,7.77844,21.03265,21.03235,34.28656l2.32318-2.32312ZM41.1629,29.03949l3.88916,3.8891-9.13635,9.13629L14.88324,21.03247,35.91571,0,45.052,9.13629l-3.8891,3.88922L35.91565,7.77826,22.66174,21.03265,35.91565,34.28656ZM37.62726,16.56116l-1.71161-1.71161-6.18311,6.1831,6.18311,6.18262,1.71155-1.71142-4.47132-4.4712ZM78.05341,42.06488,68.9491,32.96063l3.88922-3.88922,5.21551,5.21515L91.30774,21.03265,78.05383,7.77826l-5.21551,5.21533L68.94916,9.10425,78.05341,0,99.08582,21.03247Zm6.183-21.03223-6.18262-6.1831L76.3739,16.5293l4.50318,4.50335L76.374,25.53571l1.67981,1.67956Z" style="fill:rgba(240,240,240,0.2)"/></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.actions {
	padding: 20px 0 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.actions span {
	width: 100px;
	text-align: center;
}
.long_name {
	font-size: 12px;
}
.actions .max_attribute {
  background-color: #333;
	margin-right: 20px;
  padding: 8px 32px;
  text-align: center;
  user-select: none;
	box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
	font-size: 16px;
	font-weight: 400;
	transition: background-color 0.3s ease;
}
.actions .max_attribute:active,
.actions .max_attribute.active {
  background-color: #111;
}

.actions .equipment_stage {
	position: relative;
}
.actions .equipment_stage::after {
	content: attr(data-code);
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	left: -8px;
	top: 50%;
	line-height: 0px;
	opacity: 0.2;
	vertical-align: top;
}

.table, .upgrades, .summary {
	width: 860px;
	min-width: 860px;
	background: linear-gradient(to right, #EEEEEE11 80%, #444 100%);
	padding: 20px 24px;
}
.upgrades {
	width: auto;
	padding-right: 100px;
}
.requirement_cell {
	min-width: 80px;
	height: 56px;
	padding: 18px 0;
	display: flex;
	flex-flow: row;
}
.requirement_cell span,
.requirement_cell .requirement_quantity {
	align-self: flex-end;
}

.summary {
	display: flex;
	flex-wrap: wrap;
}

.save {
  background-color: #111;
  padding: 8px;
  margin: 12px 0 24px;
  text-align: center;
  user-select: none;
	box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.page, .wrapper {
		max-width: unset;
		width: 100%;
	}

	.section {
		padding: 12px 0px 8px;
		font-size: 12px;
	}

	.section_header {
		padding: 8px 20px;
		position: relative;
		left: 0;
		width: 100%;
		font-size: 16px;
	}

	.table, .upgrades, .summary {
		padding: 8px;
		width: 100%;
		min-width: unset;
		background: rgba(238, 238, 238, 0.07);
	}

	.table, .upgrades {
		padding-right: unset;
		flex-wrap: wrap;
		overflow-x: scroll;
		overflow-y: auto;
		width: 100%;
	}

	.operator_input {
		width: 100%;
	}
	.operator_input .operator_input_cell input {
		font-size: 36px;
		background: rgba(238, 238, 238, 0.07);
	}

	.actions span {
		width: 60px;
		text-align: center;
	}

	.actions .max_attribute {
		max-width: 80px;
	  background-color: #333;
		margin-right: 8px;
	  padding: 10px;
	  text-align: center;
	  user-select: none;
		box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.8);
		font-size: 12px;
		font-weight: 400;
		transition: background-color 0.3s ease;
	}
}
