.deco {
	font-family: 'san-serif';
	font-weight: 100;
}
.version {
	margin-left: 8px;
	font-size: 12px;
	vertical-align: baseline;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: linear-gradient(295deg, #0CC3E7 0%, #0D2A36 90%);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	z-index: 99;

	display: flex;
	flex-flow: row;
	justify-content: space-between;

}
.header .title {
	width: 100%;
	user-select: none;

	vertical-align: baseline;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.header h1 a {
	color: inherit;
	text-decoration: none;
}

.header h1 {
	vertical-align: baseline;

	margin: 0;
	margin-right: 20px;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
	text-shadow: 0px 1px 6px #DDDDDD66;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	text-shadow: 0px 0px 6px #333333;
	color: #FFF;
	will-change: background-color;
	transition: background-color 0.4s ease;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}

.toggles {
	flex-grow: 0;

	display: flex;
	flex-flow: row-reverse;
	justify-content: flex-start;
	align-items: center;
	padding: 0 20px;
	width: auto;
}

.toggle {
	height: 100%;
	width: auto;
	background: #77777777;
	color: #DDD;
	font-size: 14px;
	text-shadow: 0px 1px 6px #DDDDDD66;
	display: flex;
	flex-flow: row-reverse;
	justify-content: flex-start;
	white-space: nowrap;
	align-items: center;
	padding: 5px 16px;
	user-select: none;

	transition: background 0.6s ease, color 0.6s ease;
}
.toggle.enable {
	background: #333333EE;
	color: #EEE;
}
