.deco {
	font-family: 'san-serif';
	font-weight: 100;
}
.version {
	margin-left: 8px;
	font-size: 12px;
	vertical-align: baseline;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: linear-gradient(295deg, #0CC3E7 0%, #0D2A36 90%);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	z-index: 99;

	display: flex;
	flex-flow: row;
	justify-content: space-between;

}
.header .title {
	user-select: none;

	vertical-align: baseline;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	white-space: nowrap;
	justify-content: flex-start;
}
.header .nav_group {
	width: 100%;
}
.header h1 a {
	color: inherit;
	text-decoration: none;
}

.header h1 {
	vertical-align: baseline;

	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
	text-shadow: 0px 1px 6px #DDDDDD66;
}

.header nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	padding: 0 15px;
	width: auto;
	min-width: 56px;
	flex-shrink: 0;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	text-shadow: 0px 0px 6px #333333;
	color: #FFF;
	will-change: background-color;
	transition: background-color 0.4s ease;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}

.toggles {
	flex-grow: 0;
	padding: 0 8px;
	display: flex;
	flex-flow: row-reverse;
	justify-content: flex-start;
	align-items: center;
	width: auto;
}

.toggle {
	padding: 8px 16px;
	margin-right: 10px;
	color: #BBB;
	border-radius: 1px;

	font-size: 11px;
	font-weight: bold;
	text-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3);
	display: flex;
	flex-flow: row-reverse;
	justify-content: flex-start;
	white-space: nowrap;
	align-items: center;
	user-select: none;
	background: #666;
	box-shadow: 0px 3px 3px 0 #33333333;
	transition: background 0.6s ease, color 0.6s ease;
}
.toggle:first-of-type {
	margin-right: 0;
}
.toggle.enable {
	background: #111;
	box-shadow: 0px 3px 4px 0 #33333366;
	color: #EEE;
}

@media screen and (max-width: 600px) {
  .header .title {
		display: none;
	}
	.header nav {
		font-size: 12px;
	}
	.header nav a {
		padding: 0 5px;
		border-right: rgba(204, 204, 204, 0.3) 1px solid;
		white-space: nowrap;
	}

	.header .nav_group {
		width: 100%;
		overflow-x: scroll;
		overflow-y: visible;
	}
	.header .toggles {
		background-color: #333333;
		min-width: 120px;
	}

	.toggle {
		padding: 3px;
		font-size: 10px;
		margin-right: 4px;
		white-space: normal;
		text-align: center;
	}
	.toggle:first-of-type {
		margin-right: 0;
	}
}

@media screen and (max-width: 1200px) {
	.header h1 {
		font-size: 16px;
	}
	.header nav {
		font-size: 12px;
	}
	.header nav a {
		padding: 0 5px;
	}
}
