html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #333;
	font-family: 'Microsoft YaHei', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

input {
	-webkit-appearance: none;
	outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.row {
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.row.header {
	position: sticky;
	top: 56px;
	z-index: 999;
	box-shadow: 1px 2px 3px 0px #33333333;
}
