.wrapper {
  width: 100%;
  user-select: none;
  position: fixed;
  bottom: 0;
  max-height: 450px;
  background-color: #333;
}
.wrapper > h2 {
  position: absolute;
  left: 64px;
  top: -40px;
  padding: 8px 32px;
  box-shadow: 0px 2px 3px rgba(24, 24, 24, 0.8);
  z-index: 9920;
  font-size: 20px;

	color: #DDDDDD;
	background-color: #111;
  text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.2);
  transform: translate(0, 0);
  transition: transform 0.4s ease;
}
.wrapper .hint {
  color: #DDD;
  line-height: 80px;
}
.wrapper.hide_focus_materials, .wrapper.hide_focus_materials .scroll,
.wrapper.hide_focus_materials:hover, .wrapper.hide_focus_materials:hover .scroll {
  max-height: 20px;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 9918;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0) 100%);
  user-select: none;
}

.scroll {
  max-height: 450px;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

.clear, .auto {
  position: absolute;
  background-color: #111;
  box-shadow: 0px 2px 3px rgba(24, 24, 24, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  transform: translate(0px, 2px);
  z-index: 9999;
}
.clear {
  right: 30px;
  bottom: 40px;
  height: 36px;
  width: 72px;
}
.auto {
  right: 20px;
  top: 20px;
  height: 36px;
  width: 72px;
}
.clear:hover, .auto:hover {
  transform: translate(0px, 0px);
}
.clear:before, .clear:after, .auto:before, .auto:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 20px;
  background-color: #CCC;
  transition: transform 0.3s ease 0.1s, background-color 0.3s ease 0.1s;
}
.auto span {
  color: #CCC;
  font-size: 12px;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.clear:before {
  transform: rotate(45deg);
}
.clear:after {
  transform: rotate(-45deg);
}
.clear:hover:before {
  transform: rotate(270deg);
}
.clear:hover:after {
  transform: rotate(-90deg);
}
.auto:before {
  transform: rotate(0deg);
}
.auto:after {
  transform: rotate(-90deg);
}
.auto:hover:before {
  transform: translate(28px, 0px) rotate(180deg);
}
.auto:hover:after {
  transform: translate(-28px, 0px) rotate(180deg);
}
.auto:hover span {
  opacity: 1;
}
.clear:hover:before, .clear:hover:after,
.auto:hover:before, .auto:hover:after {
  background-color: #CCC;
}

.materials {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0 40px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.wrapper, .scroll {
  transition: max-height 0.4s ease;
}

@media screen and (min-width: 601px) {
  .wrapper:not(.hide_focus_materials):hover h2 {
    transform: translate(0, 54px);
  }
  .wrapper:hover, .wrapper:hover .scroll {
    max-height: 650px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper, .wrapper .scroll {
    max-height: 250px;
  }
  .wrapper > h2 {
    font-size: 14px;
    left: 8px;
    top: -28px;
  }
  .clear, .auto {
    transform: scale(0.8);
    right: 8px;
  }
  .materials {
    padding: 40px 0 20px;
  }
}
@media screen and (max-height: 400px) {
  .wrapper, .wrapper .scroll {
    max-height: 20px;
  }
}
